@model IEnumerable<WAFF.DataAccess.Entity.Event>

@{
    ViewBag.Title = "Index: All Events";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Events</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th class="text-center">Action</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th class="text-center">Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.EventID</td>
                    <td class="text-center">@Html.ActionLink("Edit", "Edit", new { id = item.EventID })</td>
                    <td>@item.EventStartDate</td>
                    <td>@item.EventEndDate</td>
                    <td>@item.EventLocation</td>
                    <td class="text-center">@Html.ActionLink("Delete", "Delete", new { id = item.EventID })</td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new Block", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>
