@model WAFF.DataAccess.Entity.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmLength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
