@model IEnumerable<WAFF.DataAccess.Entity.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Film Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilmID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilmID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmGenre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmID })
        </td>
    </tr>
}

</table>
