@model WAFF.DataAccess.Entity.Artist

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Artist</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ArtistID)

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistFName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistFName)
                @Html.ValidationMessageFor(model => model.ArtistFName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistLName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistLName)
                @Html.ValidationMessageFor(model => model.ArtistLName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistCompany, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistCompany)
                @Html.ValidationMessageFor(model => model.ArtistCompany)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistEmail)
                @Html.ValidationMessageFor(model => model.ArtistEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistAddress)
                @Html.ValidationMessageFor(model => model.ArtistAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistCity)
                @Html.ValidationMessageFor(model => model.ArtistCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistState)
                @Html.ValidationMessageFor(model => model.ArtistState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistZip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistZip)
                @Html.ValidationMessageFor(model => model.ArtistZip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistPhone)
                @Html.ValidationMessageFor(model => model.ArtistPhone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
