@model IEnumerable<WAFF.WebUI.Models.Winners>

@{
    ViewBag.Title = "Reports";
}

@Html.Partial("Menu")

<h1 style="text-align: center; margin-bottom: 30px">Leader Boards</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Block</th>
            <th class="text-center">Votes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td class="text-center">@f.FilmName</td>
                <td class="text-center">@f.FilmGenre</td>
                <td class="text-center">@f.BlockID</td>
                <td class="text-center">@f.VotePercent</td>
            </tr>
        }
    </tbody>
</table>

@ViewBag.Count
