@model IEnumerable<WAFF.DataAccess.ViewModels.LeaderBoardEntry>

@{
    ViewBag.Title = "Reports";
}

@Html.Partial("Menu")

<script>
    function fullScreen(docElm) {
        if (document.getElementById("isFull").value === "no")
        {
            enterFull(docElm);
            document.getElementById("isFull").value = "yes";
            document.getElementById("mainNav").style.display = "none";
            document.getElementById("reportsNav").style.display = "none";
            document.getElementById("footer").style.display = "none";
        }
        else
        {
            exitFull();
            document.getElementById("isFull").value = "no";
            document.getElementById("mainNav").style.display = "inline";
            document.getElementById("reportsNav").style.display = "inline";
            document.getElementById("footer").style.display = "inline";
        }
        
    }

    function enterFull(docElm) {
        docElm = document.documentElement;
        if (docElm.requestFullscreen) {
            docElm.requestFullscreen();
        }
        else if (docElm.mozRequestFullScreen) {
            docElm.mozRequestFullScreen();
        }
        else if (docElm.webkitRequestFullScreen) {
            docElm.webkitRequestFullScreen();
        }
        else if (docElm.msRequestFullscreen) {
            docElm.msRequestFullscreen();
        }
    }

    function exitFull() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        }
        else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        }
        else if (document.webkitCancelFullScreen) {
            document.webkitCancelFullScreen();
        }
        else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
    }
</script>

<div id="fullScreen">
    <h1 style="text-align: center; margin-bottom: 30px">Leader Boards</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Genre</th>
                <th class="text-center">Block</th>
                <th class="text-center">Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model)
            {
                <tr>
                    <td class="text-center">@f.FilmName</td>
                    <td class="text-center">@f.FilmGenre</td>
                    <td class="text-center">@f.BlockID</td>
                    <td class="text-center">@f.Votes</td>
                </tr>
            }
        </tbody>
    </table>
    <input id="isFull" type="hidden" value="no">
    <button class="center-block" type="button" onclick="fullScreen(fullScreen)">Full Screen</button>
</div>
