@model IEnumerable<WAFF.DataAccess.ViewModels.LeaderBoardEntry>

@{
    ViewBag.Title = "Reports";
}

@Html.Partial("Menu")

<script src="~/Scripts/Custom/LeaderBoardsFullScreen.js"></script>

<div id="fullScreen">
    <h1 style="text-align: center; margin-bottom: 30px"><u><b>Leader Boards</b></u></h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center"><h2><b>Name</b></h2></th>
                <th class="text-center"><h2><b>Genre</b></h2></th>
                <th class="text-center"><h2><b>Block</b></h2></th>
                <th class="text-center"><h2><b>Votes</b></h2></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model)
            {
                <tr>
                    <td class="text-center"><h3>@f.FilmName</h3></td>
                    <td class="text-center"><h3>@f.FilmGenre</h3></td>
                    <td class="text-center"><h3>Block @f.BlockID</h3></td>
                    <td class="text-center"><h3>@f.Votes</h3></td>
                </tr>
            }
        </tbody>
    </table>
    <input id="isFull" type="hidden" value="no">
    <div class="text-center">
        <div id="toFull" class="btn btn-default btn-lg" onclick="fullScreen(fullScreen)">Enter Fullscreen</div>
    </div>
</div>
